<header class="ba-header-wrap">
	<div class="ba-header-header">
		<div class="small-6 large-3 ba-logo">

			<button class="menu-icon ba-menu-toggle white hide-for-large" type="button">
				<nav class="ba-toggle-nav">
					<ul class="menu vertical">
						<li><a href="#">Home</a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
			</button>
		</div>
		<!-- /.row -->
		<div class="small-2 large-12 medium-8 align-justify flex-container expanded">
			<div class="align-left">
				<nav class="ba-nav">
					<ul class="menu ba-nav-menu">
						<li><a href="#">Home</a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<!-- /.ba-nav -->
			</div>

			<a class="align-center" href="index.html">
				<img src="assets/img/logo.svg" alt="logo">
			</a>

			<div class="align-right">
				<nav class="ba-nav">
					<ul class="menu ba-nav-menu">
						<li><a href="#">Login</a></li>
						<li><a href="#">Search</a></li>
						<li><a href="#">Card</a></li>
					</ul>
				</nav>
				<!-- /.ba-nav -->
			</div>
		</div>
		<!-- /.column -->
	</div>
</header>