<section class="ba-section-what">
	<div class="row column align-center">
		<img src="assets/img/what.png" alt="icons">
	</div>

	<div class="row">
		<div class="columns">
			<div class="ba-card">
				<div class="ba-card-tabs">
					<div class="ba-tab">
						<p>WHAT IS CBD?</p>
					</div>
					<div class="ba-tab">
						<p>BENEFITS</p>
					</div>
					<div class="ba-tab">
						<p>OUR DIFFERENCE</p>
					</div>
				</div>
				<!-- /.ba-card-tabs -->
				<div class="ba-card-item">

					<div class="ba-card-info">
						<div class="ba-card-name">
							<div class="ba-name-text">
								<h1>WHAT IT IS AND HOW IT WORKS</h1>
							</div>
						</div>
						<div class="ba-card-text">
							CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the
							body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.

							Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from
							the flowers and leaves of the hemp plant.

							Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.
						</div>
					</div>

					<div class="ba-card-img">
						<img src="assets/img/1.jpg" alt="FarCry4">
						<img src="assets/img/2.jpg" alt="Stars">
					</div>

				</div>
				<!-- /.ba-card-item -->
				<div class="ba-card-item">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui magni tenetur cupiditate officia dicta
						laboriosam enim? Harum sequi quo nobis sapiente rem est ea? Accusamus quasi ex libero dolor
						laudantium?
						Eos iste dolore fugit libero quia voluptatum laboriosam, animi quas corrupti deserunt consectetur
						dignissimos aut maiores, commodi inventore, ipsa rerum. Nisi laudantium est aliquam corporis. Amet
						modi
						ratione molestias eveniet?
						Placeat quas rerum a? Odit sequi iste rerum suscipit inventore eos quibusdam at ex, quos blanditiis
						vitae
						totam provident facere quo sapiente molestias accusamus aut? Ea veniam nemo cum nulla.</p>
				</div>
				<!-- /.ba-card-item -->
				<div class="ba-card-item">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias assumenda odit perferendis expedita
						explicabo delectus excepturi voluptatum fuga minima voluptas, sapiente vel corrupti nulla blanditiis
						repudiandae consequuntur libero similique non quod repellat eos voluptatibus. Architecto autem maxime
						deserunt dolores et est, modi ut labore soluta asperiores? Neque velit facere, aliquid unde saepe eos
						sequi fugiat tempora eligendi pariatur amet quas, doloremque quo blanditiis, dolor suscipit! Sunt non
						aliquam accusantium alias consectetur iure pariatur accusamus libero eligendi perferendis!</p>
				</div>
				<!-- /.ba-card-item -->
			</div>
		</div>
	</div>

</section>