<section id="best" class="ba-seection-mark">

	<article class="ba-offer-bg" style="background-image: url(assets/img/slbg.jpg);">

		<div class="row">

			<div class="column small-12 medium-4 large-8">
				<div class="ba-offer">
					<img src="assets/img/Ratings.png" alt="sfs">

					<p>I have tried another product after using this one successfully, and I am Back for good! The flavour,
						the
						lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
					<p class="ba-offer-author">Mark J.</p>
				</div>
				<!-- /.ba-offer__desc -->
			</div>
		</div>
		<!-- /.ba-container -->
	</article>
	<article class="ba-offer-bg" style="background-image: url(assets/img/slbg.jpg);">
		<div class="row">

			<div class="column small-12 medium-4 large-8">
				<div class="ba-offer">
					<img src="assets/img/Ratings.png" alt="sfs">

					<p>I have tried another product after using this one successfully, and I am Back for good! The flavour,
						the
						lightness of the oil and the health benefits I have gotten with this oil are amazing! I have tried
						another product after using this one successfully, and I am Back for good! The flavour, the
						lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
					<p class="ba-offer-author">Mark J.</p>

				</div>
				<!-- /.ba-offer__desc -->
			</div>
		</div>
		<!-- /.ba-container -->
	</article>
	<article class="ba-offer-bg" style="background-image: url(assets/img/slbg.jpg);">
		<div class="row">

			<div class="column small-12 medium-4 large-8">
				<div class="ba-offer">
					<img src="assets/img/Ratings.png" alt="sfs">

					<p>I have tried another product after using this one successfully, and I am Back for good! The flavour,
						the
						lightness of the oil and the health benefits I have gotten with this oil are amazing! I have tried
						another product after using this one successfully, and I am Back for good! The flavour, the
						lightness of the oil and the health benefits I have gotten with this oil are amazing! I have tried
						another product after using this one successfully, and I am Back for good! The flavour, the
						lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
					<p class="ba-offer-author">Mark J.</p>

				</div>
				<!-- /.ba-offer__desc -->
			</div>
		</div>
		<!-- /.ba-container -->
	</article>


	<div class="ba-best-slider__arrows">
		<button class="ba-slider-btn" data-best-prev>
			<svg width="7px" height="7px">
				<path fill-rule="evenodd" fill="rgb(255, 255, 255)"
					d="M-0.001,3.499 L7.001,-0.005 L7.001,7.003 L-0.001,3.499 " />
			</svg>
		</button>
		<button class="ba-slider-btn" data-best-next>
			<svg width="7px" height="7px">
				<path fill-rule="evenodd" fill="rgb(255, 255, 255)"
					d="M7.001,3.499 L-0.001,-0.005 L-0.001,7.003 L7.001,3.499 " />
			</svg>
		</button>

	</div>
	<!-- /.ba-best-slider__arrows -->
</section>
</section>