<section class="ba-section-products">
	<div class="row align-center">
		<h2 class="ba-product-title">CBD Featured Products</h2>
	</div>

	<div class="row ba-slider">

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product align-middle">
					<img src="assets/img/Ratings.png" alt="sfs">
					<p class="ba-product-name">CBD+Curcumin Coffee 750 mg</p>
				</div>
				<img src="assets/img/Img.png" alt="s">
				<div class="card-section">
					<p>$79.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">CBD 500 mg Orange Flavor Tincture</p>
				</div>
				<img src="assets/img/highlight.png" alt="s">
				<div class="card-section">
					<p>$49.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">Black ICE CBD Muscle Rub 200 mg</p>
				</div>
				<img src="assets/img/Img1.png" alt="s">
				<div class="card-section">
					<p>$49.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">CBD+Curcumin Coffee 750 mg</p>
				</div>
				<img src="assets/img/Img.png" alt="s">
				<div class="card-section">
					<p>$79.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">CBD 500 mg Orange Flavor Tincture</p>
				</div>
				<img src="assets/img/highlight.png" alt="s">
				<div class="card-section">
					<p>$49.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">Black ICE CBD Muscle Rub 200 mg</p>
				</div>
				<img src="assets/img/Img1.png" alt="s">
				<div class="card-section">
					<p>$49.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">CBD+Curcumin Coffee 750 mg</p>
				</div>
				<img src="assets/img/Img.png" alt="s">
				<div class="card-section">
					<p>$79.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">CBD 500 mg Orange Flavor Tincture</p>
				</div>
				<img src="assets/img/highlight.png" alt="s">
				<div class="card-section">
					<p>$49.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>

		<div class="column small-12 medium-6 large-4">
			<div class="card ba-card">
				<div class="ba-product">
					<img src="assets/img/Ratings.png" alt="">
					<p class="ba-product-name">Black ICE CBD Muscle Rub 200 mg</p>
				</div>
				<img src="assets/img/Img1.png" alt="s">
				<div class="card-section">
					<p>$49.99 USD</p>
					<button class="ba-product-shop-btn">Shop</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row align-center">
		<h2 class="ba-product-title">Frequently asked questions</h2>

		<div class="row align-center ba-product-accordion">
			<div class="columns small-12 medium-8 large-6">
				<ul class="accordion" data-accordion>
					<li class="accordion-item is-active" data-accordion-item>
						<a href="#" class="accordion-title"> What is Cannabidiol (CBD)? </a>
						<div class="accordion-content" data-tab-content>
							<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States. </p>
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title"> Is Hemp-Derived Cannabidiol (CBD) Legal? </a>
						<div class="accordion-content" data-tab-content>
							<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States.>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States.  </p>
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Are there any negative side effects? </a>
						<div class="accordion-content" data-tab-content>
							<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States. >Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States. >Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States. </p>
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title"> Do you offer a return policy?</a>
						<div class="accordion-content" data-tab-content>
							<p>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States.>Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States. >Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States. >Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp
								CBD products are completely legal in all 50 States.  </p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</section>